{
  "serverPort": 8080,
  "translPath": "../translations",
  "authUsers": {
    "id": "Put the md5 hash of the username here.",
    "password": "Put the md5 hash of the password here."
  },
  "allowOrigin": "*"
}